<article>
  <div class="text__wrapper">
    <div class="title__wrapper">
      <svg width="100%" height="100%" viewBox="0 0 500 75" preserveAspectRatio="xMinYMid meet"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <text class="event__title" x='0' y="50" font-size="40" textLength='100%' lengthAdjust="spacing"
          font-weight="800">Time to
          {{eventTitle}}</text>
      </svg>
    </div>

    <div class="event__wrapper">
      <svg width="100%" height="100%" viewBox="0 0 500 75" preserveAspectRatio="xMinYMid meet"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <text class="event_date" font-size="50" textLength='100%' lengthAdjust="spacing" x='0' y="40" font-weight="400">
          {{timeToEvent}}</text>
      </svg>
    </div>
  </div>
  <div class="form__wrapper">
    <form>
      <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
        <mat-label>title</mat-label>
        <input matInput type="text" (input)="titleEvent($event)" id="title">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
        <mat-label>date</mat-label>
        <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>

</article>


<router-outlet></router-outlet>