@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}



body {
  background-color: #87B738;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  color: #fff;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  scroll-behavior: smooth;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}